@font-face {
  font-family: "GreycliffCF DemiBold";
  src: url("./fonts/GreycliffCF-DemiBold.woff2");
}
@font-face {
  font-family: "GreycliffCF Medium";
  src: url("./fonts/GreycliffCF-Medium.woff2");
}
@font-face {
  font-family: "GreycliffCF Light";
  src: url("./fonts/GreycliffCF-Light.woff2");
}
html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #fafafa;
  background-color: #010101;
  font-family: "GreycliffCF Light", sans-serif;
  line-height: 1.65;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 400;
  font-family: "GreycliffCF Demibold", sans-serif;
}

.container {
  max-width: 1232px;
  padding-inline: 16px;
  margin-inline: auto;
}

header {
  padding-block: 35px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-wrapper .logo img {
  max-width: 150px;
}
.header-wrapper .gradient-button {
  padding: 13px 30px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  background-color: transparent;
  overflow: hidden;
  border-radius: 12px;
}
.header-wrapper .gradient-button:hover::after {
  opacity: 1;
}
.header-wrapper .gradient-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  background: linear-gradient(45deg, #624e9a, #b77eef);
  opacity: 0;
  transition: all 0.3s linear;
}
.header-wrapper .gradient-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  padding: 2px;
  background: linear-gradient(45deg, #624e9a, #b77eef);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.header-wrapper .gradient-button span {
  position: relative;
  z-index: 1;
}

.hero-section {
  padding-top: 85px;
  position: relative;
  overflow: hidden;
}
.hero-section::before {
  position: absolute;
  content: "";
  height: 10px;
  bottom: 0;
  background-color: #010101;
  width: 100%;
}
.hero-section .shape {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -150px;
  z-index: -1;
  max-width: 100%;
}

.hero-wrapper {
  text-align: center;
  max-width: 800px;
  margin-inline: auto;
}
.hero-wrapper .top-badge {
  font-size: 14px;
  color: #a3a3a3;
  background-color: #262626;
  font-family: "GreycliffCF Medium", sans-serif;
  font-weight: 400;
  display: inline-block;
  padding: 4px 16px 3px;
  border-radius: 25px;
  border: 1px solid rgba(115, 115, 115, 0.2);
  margin-bottom: 32px;
}
.hero-wrapper .top-badge a {
  color: inherit;
}
.hero-wrapper .top-badge a:hover {
  color: #8c70da;
}
.hero-wrapper .title {
  font-size: 80px;
  margin-bottom: 12px;
  letter-spacing: -4px;
}
.hero-wrapper .subtitle {
  font-size: 17px;
  max-width: 590px;
  margin-inline: auto;
  line-height: 1.65;
  font-family: "GreycliffCF Medium", sans-serif;
  font-weight: 400;
  color: #a3a3a3;
}

.subscription-wrapper {
  max-width: 550px;
  margin-inline: auto;
  margin-top: 32px;
}
.subscription-wrapper .form-group {
  display: flex;
  justify-content: center;
  gap: 12px;
  position: relative;
  width: 100%;
}
.subscription-wrapper .form-group svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.subscription-wrapper .form-group .form-input {
  flex-grow: 1;
}
.subscription-wrapper .form-group .form-control {
  height: 48px;
  background-color: transparent;
  box-shadow: none !important;
  background-color: rgba(1, 1, 1, 0.8666666667);
  border: 1px solid #262626;
  border-radius: 10px;
  width: 100%;
  color: #fafafa;
  padding-left: 50px;
  font-size: 16px;
}
.subscription-wrapper .form-group .form-control:focus {
  outline: 1.5px solid #fafafa;
  outline-offset: 3px;
}
.subscription-wrapper .form-group button {
  height: 48px;
  background-color: #e6e6e6;
  color: #262626;
  box-shadow: none !important;
  border: none !important;
  padding: 6px 16px;
  border-radius: 10px;
  font-family: "GreycliffCF DemiBold", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.video-wrapper {
  max-width: 960px;
  margin-inline: auto;
  text-align: center;
  margin-top: 105px;
  border-radius: 32px;
  height: 100%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.01), 0 0 90px rgba(255, 255, 255, 0.05), 0 0 145px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.video-wrapper::before {
  position: absolute;
  content: "";
  width: 120%;
  aspect-ratio: 1;
  background: conic-gradient(from 0deg, rgba(255, 255, 255, 0.2705882353), rgba(255, 255, 255, 0.6941176471), rgba(255, 255, 255, 0.1450980392), rgba(255, 255, 255, 0.2784313725));
  animation: rotate 5s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-wrapper video {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 32px;
  margin-bottom: -8px;
  padding: 2px;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.section-header {
  text-align: center;
  margin-bottom: 48px;
}
.section-header .section-title {
  font-size: 61px;
  letter-spacing: -3px;
}
.section-header .section-subtitle {
  font-size: 18px;
  margin-top: 8px;
}
.section-header .check-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 48px;
  margin-top: 40px;
}
.section-header .check-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.feature-section {
  padding-top: 110px;
  padding-bottom: 110px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.feature-item {
  background-color: rgba(38, 38, 38, 0.2);
  border: 1px solid rgba(38, 38, 38, 0.7019607843);
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.feature-item:nth-of-type(2n) {
  flex-direction: column-reverse;
}
.feature-item .icon {
  margin-inline: auto;
  width: 150px;
  aspect-ratio: 1;
  border: 1px solid rgba(38, 38, 38, 0.7019607843);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.feature-item .icon img, .feature-item .icon svg {
  width: 60%;
}
.feature-item .content .title {
  font-size: 22px;
}